<p>Hi, my name is Mada Aryakusumah. I'am programmer in 41studio.</p>
<address>
  <strong>Mada Aryakusumah</strong><br />
  Tar road no 1, Batujajar <br />
  Bandung, West Java <br />
  <abbr title="Phone">P: <%= number_to_phone(212109909034) %>
</abbr>

</address>
<p>Time saat ini <%= @time %> </p>