<!-- Facebook Badge START --><a href="https://www.facebook.com/naklieur" target="_TOP" title="Mada Aryakusumah"><img src="https://badge.facebook.com/badge/1644263451.1247.1028442878.png" style="border: 0px;" /></a><!-- Facebook Badge END -->
